{% extends 'base.html.twig' %}
{% block body %}
    
    <div class="container">
        <div class="card card-container">
            <h2>Welcome,</h2>
            <p>You have successfully logged in.</p>
            Wanna logout? click <a href="logout">here</a>
        </div><!-- /card-container -->
    </div>
{% endblock %}